{% extends "admin_portal/base.html/" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<head>
    <title>View Queries</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">View Queries</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Query</th>
                </tr>
            </thead>
            <tbody>
                {% for query in queries %}
                <tr>
                    <td>{{ query.user.username }}</td>
                    <td>{{ query.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
